/*----------------------- Главная структура сайта ------------------------------ */

body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #181b22;
    overflow: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
    background: #16dbdb;
}

#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: rgb(250, 175, 63);
    color: rgb(255, 255, 249);
}

#sidebar {
    margin-top: 90px;
    width: 110px;
    padding: 0;
    float: left;
}

#content {
    height: 60%;
    margin-left: 130px;
    padding: 10px;
    text-align: center;
    background: rgb(240, 245, 245);
}

#footer_data {
    background: #8fa89b;
    text-align: center;
    color: #fff;
    padding: 5px;
}

/*----------------------- Элементы контента ------------------------------ */

.img {
    width: 34%;
    height: 34%;
}

h2 {
    font-size: 120%;
    color: #800040;
    text-align: center;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
}

caption {
    font-family: annabelle, cursive;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    color: #800040;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

th {
    padding: 10px;
    border: 1px solid #A9E2CC;
}

td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}

.rounded {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}